<!DOCTYPE html>
<html>
<head>
	<title>
      Bitcoin, Ethereum, and Litecoin Price - Coinspace
  </title>
</head>

<body>
	<div id="header">
		CoinSpace
	</div>

	<div id="app">
		<div id="tabs">
			<span>Bitcoin $14,950.70</span>
			<span>Ethereum $1,209.82</span>
			<span>Litecoin $254.02</span>

			<span id="daily">1D</span>
			<span id="monthly">1M</span>
			<span id="yearly">1Y</span>
		</div>

		<div id="currencyDisplay">
			<div id="presentValue">
				<span class="h6">$</span>
				<span class="h3">14,960</span>
				<span class="h6">.00</span>
				<p>BITCOIN PRICE</p>
			</div>

			<div id="sinceLastYear$">
				<span class="plus_minus">+</span>
				<span class="h6">$</span>
				<span class="h3">14,059</span>
				<span class="h6">.79</span>
				<p>SINCE LAST YEAR (USD)</p>
			</div>

			<div id="sinceLastYear%">
				<span class="plus_minus">+</span>
				<span class="h3">1555.29</span>
				<span class="h6">%</span>
				<p>SINCE LAST YEAR (%)</p>
			</div>
		</div>

		<div id="graph">
			<img src="img/graphTemplate.png">
		</div>


	</div>

	<div id="credits">
		HRSF-86 Group 4
	</div>
</body>

<footer>
	<link rel="stylesheet" href="style/style.css">
</footer>

</html>